@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");


.bg-main {
  background-image: url("/assets/images/main-banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}

.bg-top {
  background: rgba(0, 0, 0, 0.2);
}

.container {
  max-width: 1140px;
  margin: auto;
  font-family: "Quicksand", sans-serif;
}
