@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

.header {
  background-image: url("assets/images/main-banner.png");
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  background-size: cover;
}

.container {
  max-width: 1140px;
  margin: auto;
  font-family: "Quicksand", sans-serif;
}
